In [2]:
import pandas as pd
from edastatmil_milser import edas_tatmil as EDA

## 1. Stars sample preview

In [3]:
df = pd.read_csv('../Samples/Clusters.csv')
df.head()

        _Glon      _Glat   _RAJ2000   _DEJ2000 Cluster
0  136.163369 -23.291857  28.329417  37.984833   Mel12
1  136.390938 -23.836403  28.405333  37.404806   Mel12
2  136.386537 -23.211326  28.607250  38.009139   Mel12
3  136.553405 -23.705483  28.629333  37.492111   Mel12
4  136.587727 -23.750297  28.652583  37.440583   Mel12

In [4]:
df.shape

(992227, 5)

Obtenemos una lista de los numbres de los clusters incluidos en el stars sample

In [5]:
actual_name = df['Cluster'].unique()
actual_name

array(['Mel12', 'Mel25', 'NGC 2632', 'NGC 2168', 'NGC 2099', 'NGC 1746',
       'NGC 1039', 'NGC 1647', 'NGC 2183', 'NGC 1912', 'NGC 2281',
       'NGC 2420', 'NGC 2158', 'NGC 869', 'NGC 1662', 'Basel 11B',
       'NGC 1528', 'NGC 2252', 'Basel 4', 'NGC 1960', 'NGC 6205',
       'Waterloo 2', 'NGC 6819', 'NGC 5272', 'Berkeley 71', 'Berkeley 32',
       'Berkeley 17', 'Berkeley 29', 'Berkeley 53', 'Berkeley 66',
       'FSR 0494', 'IC 166', 'King 5', 'King 7', 'M 107', 'M 13', 'M 15',
       'M 2', 'M 3', 'M 35', 'M 5', 'M 53', 'M 67', 'M 71', 'M 92',
       'NGC 1245', 'NGC 1798', 'NGC 188', 'NGC 2243', 'NGC 2682',
       'NGC 4147', 'NGC 5466', 'NGC 6791', 'NGC 6811', 'NGC 7789',
       'Pleiades', 'Teutsch 51', 'Mel13', 'Mel14', 'NGC 2532', 'IC 2395',
       'NGC 2808', 'NGC 0104', 'NGC 1904', 'NGC 1851', 'NGC 6266',
       'NGC 5139', 'NGC 3201', 'NGC 0362', 'NGC 5286', 'NGC 6218',
       'NGC 5904', 'NGC 6093', 'NGC 6254', 'NGC 6293', 'NGC 6388',
       'NGC 6522', 'NGC 6441', 'NGC 6541', 'NGC 6624', 'NGC 7078',
       'NGC 6656', 'NGC 6681', 'NGC 6752', 'NGC 7089', 'NGC 7099',
       'Berkeley 86', 'IC 1805', 'IC 2944', 'NGC 457', 'NGC 884',
       'NGC 1502', 'NGC 2244', 'NGC 2362', 'NGC 2384', 'NGC 2422',
       'NGC 2467', 'NGC 3293', 'NGC 4755', 'NGC 6193', 'NGC 7160',
       'Trumpler 14', 'CR 228', 'Trumpler 16', 'NGC1261', 'NGC3201',
       'NGC6139', 'NGC6205', 'NGC6362', 'NGC6397', 'NGC6712', '  Pal13'],
      dtype=object)

Hay que comprobar que no tenemos el mismo cluster nombrado de dos formas diferentes. Para ello:
1. Vamos a hacer un dataframe con los diferentes nombres de los clusters los diferentes catálogos posibles.
2. Escogeremos el catálogo con el que vamos a trabajar para tener todos los cluster identificados bajo un mismo criterio.
3. Renombraremos los clusters con el nombre escogido.

### 1.1 Rename clusters
Se hace una lista para los nombres en cada catalogo, basada en la lista de nombres de clusters obtenida del stars sample. Si un nombre de la lista inicial no está en algún catálogo, agregamos None.

In [6]:
NGC_names = ['NGC 752', None, 'NGC 2632', 'NGC 2168', 'NGC 2099', 'NGC 1746', 'NGC 1039','NGC 1647','NGC 2183','NGC 1912', 'NGC 2281', 'NGC 2420', 'NGC 2158','NGC 869','NGC 1662', None,'NGC 1528','NGC 2252', None,'NGC 1960', 'NGC 6205', None, 'NGC 6819','NGC 5272', None, None, None, None, None, None, None, None, None, None, 'NGC 6171', 'NGC 6205','NGC 7078', 'NGC 7089', 'NGC 5272',' NGC 2168', 'NGC 5904','NGC 5024','NGC 2682','NGC 6838','NGC 6341','NGC 5145','NGC 1798','NGC 188','NGC 2243','NGC 2682','NGC 4147','NGC 5466','NGC 6791','NGC 6811','NGC 7789', None, None,'NGC 869', 'NGC 884','NGC 2532', None, 'NGC 2808','NGC 0104','NGC 1904','NGC 1851','NGC 6266', 'NGC 5139','NGC 3201','NGC 0362','NGC 5286', 'NGC 6218', 'NGC 5904', 'NGC 6093', 'NGC 6254', 'NGC 6293', 'NGC 6388','NGC 6522', 'NGC 6441', 'NGC 6541','NGC 6624','NGC 7078','NGC 6656','NGC 6681','NGC 6752','NGC 7089','NGC 7099', None, None, None,'NGC 457','NGC 884','NGC 1502','NGC 2244', 'NGC 2362','NGC 2384','NGC 2422','NGC 2467','NGC 3293','NGC 4755','NGC 6193','NGC 7160', None, None, None,'NGC 1261','NGC 3201','NGC 6139','NGC 6205','NGC 6362','NGC 6397','NGC 6712', None]
Mel_names = ['Mel 12', 'Mel 25', 'Mel 88', None, None, None, None, None, None, None, None, 'Mel 69', 'Mel 40', 'Mel 13', None, None, None, None, None, None, None, None, 'Mel 223', 'Mel 119', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Mel 18', None, 'Mel 2','Mel 46', None, None, None, None, 'Mel 222', 'Mel 245', 'Mel 22', None, 'Mel 13', 'Mel 14', None, None, None, 'Mel 1', None, None, None, None, None, 'Mel 4', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Mel 15', None, None, 'Mel 14', None, None, None, None, None, None,'Mel 100','Mel 144', None, None, None, None, None, None, None, None, None, None, None, None, None]
M_names = [None, None, 'M 44', 'M 35', 'M 37', None, 'M 34',None, None, 'M 38', None, None, None, None, None, None, None, None, None, 'M 36', 'M 13', None, None, 'M 3', None, None, None, None, None, None, None, None, None, None, 'M 107', 'M 13','M 15','M 2', 'M 3','M 35','M 5', 'M 53', 'M 67', 'M 71', 'M 92', None, None, None, None, 'M 67', None, None, None, None, None,'M 45', None, None, None, None, None, None, None, 'M 79', None, 'M 62', None, None, None, None, 'M 12', 'M 5', 'M 80', 'M 10', None, None, None, None, None, None,'M 15', 'M 22','M 70', None,'M 2','M 30', None, None, None, None, None, None, None, None, None, 'M 47', None, None, None, None, None, None, None, None, None, None, None, 'M 13', None, None, None, None]
Common_name = [None, 'Hiades', 'Beehive', None, None, None, None, None, None, None, None, None, None, 'H Persei', None, 'Basel 11b', None, None, None, None,'Hercules', None, 'Foxhead', None, None, None, None, None, None, None, None, None, None, None, None, 'Hercules', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'Pleiades', None, 'H Persei', 'Chi Persei', None, None, None, '47 Tuc', None, None, None, 'Ome Cen', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'AFGL 333', 'lam Cen','ET','Chi Persei', None, None, 'Tau CMa', None, None, None, None,'Jewel Box', None, None, None, None, None, None, None, None,'Hercules', None, None, None, None]

Comprobamos que la longitud de todas las listas es la misma, de forma que no nos hemos equivocado. Si todo está bien, construimos el dataframe de la tabla de equivalencia de nombres.

In [7]:
print(len(actual_name))
print(len(NGC_names))
print(len(Mel_names))
print(len(M_names))
print(len(Common_name))

112
112
112
112
112

In [8]:
clusters_names = pd.DataFrame(actual_name, columns=['Actual Names'])
clusters_names['NGC_names'] = NGC_names
clusters_names['Mel_names'] = Mel_names
clusters_names['M_names'] = M_names
clusters_names['Common_name'] = Common_name
clusters_names

    Actual Names NGC_names Mel_names M_names Common_name
0          Mel12   NGC 752    Mel 12    None        None
1          Mel25      None    Mel 25    None      Hiades
2       NGC 2632  NGC 2632    Mel 88    M 44     Beehive
3       NGC 2168  NGC 2168      None    M 35        None
4       NGC 2099  NGC 2099      None    M 37        None
..           ...       ...       ...     ...         ...
107      NGC6205  NGC 6205      None    M 13    Hercules
108      NGC6362  NGC 6362      None    None        None
109      NGC6397  NGC 6397      None    None        None
110      NGC6712  NGC 6712      None    None        None
111        Pal13      None      None    None        None

[112 rows x 5 columns]

Eliminamos las filas repetidas usando la columna NGC_names, ya que es donde más nombres encontramos. Hay que tener en cuenta que no se aplique la eliminación de duplicados a las filas donde NGC_names sea None

In [10]:
Name_equival = clusters_names.groupby('NGC_names').apply(lambda x: x.drop_duplicates(subset=['NGC_names']) if x['NGC_names'].notnull().all() else x)

/tmp/ipykernel_11298/1542950378.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  Name_equival = clusters_names.groupby('NGC_names').apply(lambda x: x.drop_duplicates(subset=['NGC_names']) if x['NGC_names'].notnull().all() else x)

In [11]:
Name_equival.to_csv('../Samples/NamesCatalogEquivalence.csv')

Trabajaremos siempre que sea posible con el NGC_name. En los casos en los que no tenemos NGC_name, se trabajará con el Actual Name.Entonces:
1. Tanto en la columna Cluster del dataset como en las columnas de la tabla clusters_names, eliminaremos los espacios.
2. Recorremos el dataset de estrellas y allá donde la columna Cluster no tiene el nombre NGC, lo tomaremos de la tabla de equivalencia de nombres y lo sustituiremos. Si no hay un nombre NGC, dejamos el que está.

In [12]:
cluster_cols = Name_equival.columns.tolist()
for col in cluster_cols:
    Name_equival[col] = Name_equival[col].str.replace(r'\s+', '', regex=True).str.strip()


df['Cluster'] = df['Cluster'].str.replace(r'\s+', '', regex=True).str.strip()

In [13]:
def rename(name):
    if 'NGC' in name:
        return name
    else:
        row = clusters_names.index[clusters_names['Actual Names'] == name]
        if not row.empty and clusters_names.at[row[0], 'NGC_names'] is not None:
            return clusters_names.at[row[0], 'NGC_names']
        else:
            return name

df['Cluster'] = df['Cluster'].apply(rename)

Además, buscando en bases de datos los nombres de los clusters, hemos visto que los clusters FSR 0494 y CR 228 no existen como clusters oficiales, así que eliminaremos las filas correspondientes a estos clusters del dataset.

In [14]:
nonfinderdlusters = ['FSR0494','CR228']
df = df[~df['Cluster'].isin(nonfinderdlusters)]

In [15]:
df.to_csv('../Samples/RenamedClusters.csv')
df

             _Glon      _Glat    _RAJ2000   _DEJ2000  Cluster
0       136.163369 -23.291857   28.329417  37.984833  NGC 752
1       136.390938 -23.836403   28.405333  37.404806  NGC 752
2       136.386537 -23.211326   28.607250  38.009139  NGC 752
3       136.553405 -23.705483   28.629333  37.492111  NGC 752
4       136.587727 -23.750297   28.652583  37.440583  NGC 752
...            ...        ...         ...        ...      ...
992222   87.024510 -42.545664  346.550171  12.871155    Pal13
992223   87.053785 -42.538558  346.564960  12.888702    Pal13
992224   87.097982 -42.540379  346.594187  12.904579    Pal13
992225   87.117962 -42.540081  346.606789  12.912698    Pal13
992226   87.145911 -42.536231  346.622542  12.926953    Pal13

[992199 rows x 5 columns]

Ahora con este dataframe haremos un merge en la base de datos de Gaia DR3 mediante el software TopCat. Lo que hace este software es acceder a la base de datos de la misión espacial Gaia, en su versión más actualiada (DR3). Usando las coordenadas que situan a cada estrella en el cialo (_RAJ2000 y _DEJ2000 en nuestro dataset), va a buscar nuestras estrellas en la base de datos y agregar las columnas con todos los datos y características que tenga sobre ellas. El dataset resultante pesa mucho asi que no puede subirse a Git. Lo encontraremos en el siguiente enlace de Drive:

In [16]:
# https://drive.google.com/file/d/1DcoOVX4CSyg2qZCR8KQmTaG21PphJTvE/view?usp=drive_link

## 2. STARSSample explore

In [17]:
#stars_df = pd.read_csv('../Samples/STARSSample.csv')
#num, cat = EDA.explore(stars_df)

Rows: 984102
Columns: 134
+----------------+----------------+------------+-----------+---------------+
|                | Non-Null Count | Null Count | Data Type | Data Category |
+----------------+----------------+------------+-----------+---------------+
|      col1      |     984102     |     0      |   int64   |   Numerical   |
|     _Glon      |     984102     |     0      |  float64  |   Numerical   |
|     _Glat      |     984102     |     0      |  float64  |   Numerical   |
|    _RAJ2000    |     984102     |     0      |  float64  |   Numerical   |
|    _DEJ2000    |     984102     |     0      |  float64  |   Numerical   |
|    Cluster     |     984102     |     0      |  object   |  Categorical  |
|    DR3Name     |     984102     |     0      |  object   |  Categorical  |
|     RAdeg      |     984102     |     0      |  float64  |   Numerical   |
|     DEdeg      |     984102     |     0      |  float64  |   Numerical   |
|   errHalfMaj   |     984102     |     0      |  float64  |   Numerical   |
|   errHalfMin   |     984102     |     0      |  float64  |   Numerical   |
|   errPosAng    |     984102     |     0      |  float64  |   Numerical   |
|     SolID      |     984102     |     0      |   int64   |   Numerical   |
|     Source     |     984102     |     0      |   int64   |   Numerical   |
|    RandomI     |     984102     |     0      |   int64   |   Numerical   |
|    e_RAdeg     |     984102     |     0      |  float64  |   Numerical   |
|    e_DEdeg     |     984102     |     0      |  float64  |   Numerical   |
|      Plx       |     867897     |   116205   |  float64  |   Numerical   |
|     e_Plx      |     867897     |   116205   |  float64  |   Numerical   |
|      RPlx      |     867897     |   116205   |  float64  |   Numerical   |
|       PM       |     867897     |   116205   |  float64  |   Numerical   |
|      pmRA      |     867897     |   116205   |  float64  |   Numerical   |
|     e_pmRA     |     867897     |   116205   |  float64  |   Numerical   |
|      pmDE      |     867897     |   116205   |  float64  |   Numerical   |
|     e_pmDE     |     867897     |   116205   |  float64  |   Numerical   |
|    RADEcor     |     984102     |     0      |  float64  |   Numerical   |
|    RAPlxcor    |     867897     |   116205   |  float64  |   Numerical   |
|   RApmRAcor    |     867897     |   116205   |  float64  |   Numerical   |
|   RApmDEcor    |     867897     |   116205   |  float64  |   Numerical   |
|    DEPlxcor    |     867897     |   116205   |  float64  |   Numerical   |
|   DEpmRAcor    |     867897     |   116205   |  float64  |   Numerical   |
|   DEpmDEcor    |     867897     |   116205   |  float64  |   Numerical   |
|   PlxpmRAcor   |     867897     |   116205   |  float64  |   Numerical   |
|   PlxpmDEcor   |     867897     |   116205   |  float64  |   Numerical   |
|  pmRApmDEcor   |     867897     |   116205   |  float64  |   Numerical   |
|      NAL       |     984102     |     0      |   int64   |   Numerical   |
|      NAC       |     984102     |     0      |   int64   |   Numerical   |
|      NgAL      |     984102     |     0      |   int64   |   Numerical   |
|      NbAL      |     984102     |     0      |   int64   |   Numerical   |
|     gofAL      |     984102     |     0      |  float64  |   Numerical   |
|     chi2AL     |     984102     |     0      |  float64  |   Numerical   |
|      epsi      |     984102     |     0      |  float64  |   Numerical   |
|     sepsi      |     984102     |     0      |  float64  |   Numerical   |
|     Solved     |     984102     |     0      |   int64   |   Numerical   |
|      APF       |     984102     |     0      |   bool    |   Numerical   |
|     nueff      |     426356     |   557746   |  float64  |   Numerical   |
|     pscol      |     441541     |   542561   |  float64  |   Numerical   |
|    e_pscol     |     441541     |   542561   |  float64  |   Numerical   |
|  RApscolCorr   |     441541     |   542561   |  float64  |   Numerical   |
|  DEpscolCorr   |     441541     |   542561   |  float64  |   Numerical   |
|  PlxpscolCorr  |     441541     |   542561   |  float64  |   Numerical   |
| pmRApscolCorr  |     441541     |   542561   |  float64  |   Numerical   |
| pmDEpscolCorr  |     441541     |   542561   |  float64  |   Numerical   |
|   MatchObsA    |     984102     |     0      |   int64   |   Numerical   |
|      Nper      |     984102     |     0      |   int64   |   Numerical   |
|      amax      |     984102     |     0      |  float64  |   Numerical   |
|    MatchObs    |     984102     |     0      |   int64   |   Numerical   |
|    IPDgofha    |     984102     |     0      |  float64  |   Numerical   |
|    IPDgofhp    |     984102     |     0      |  float64  |   Numerical   |
|     IPDfmp     |     984102     |     0      |   int64   |   Numerical   |
|     IPDfow     |     984102     |     0      |   int64   |   Numerical   |
|      RUWE      |     867897     |   116205   |  float64  |   Numerical   |
|      Dup       |     984102     |     0      |   int64   |   Numerical   |
|     o_Gmag     |     984102     |     0      |   int64   |   Numerical   |
|       FG       |     982769     |    1333    |  float64  |   Numerical   |
|      e_FG      |     982769     |    1333    |  float64  |   Numerical   |
|      RFG       |     982769     |    1333    |  float64  |   Numerical   |
|      Gmag      |     982769     |    1333    |  float64  |   Numerical   |
|     e_Gmag     |     982769     |    1333    |  float64  |   Numerical   |
|    o_BPmag     |     984102     |     0      |   int64   |   Numerical   |
|      FBP       |     867344     |   116758   |  float64  |   Numerical   |
|     e_FBP      |     867344     |   116758   |  float64  |   Numerical   |
|      RFBP      |     867344     |   116758   |  float64  |   Numerical   |
|     BPmag      |     867344     |   116758   |  float64  |   Numerical   |
|    e_BPmag     |     867344     |   116758   |  float64  |   Numerical   |
|    o_RPmag     |     984102     |     0      |   int64   |   Numerical   |
|      FRP       |     869724     |   114378   |  float64  |   Numerical   |
|     e_FRP      |     869724     |   114378   |  float64  |   Numerical   |
|      RFRP      |     869724     |   114378   |  float64  |   Numerical   |
|     RPmag      |     869724     |   114378   |  float64  |   Numerical   |
|    e_RPmag     |     869724     |   114378   |  float64  |   Numerical   |
|    E(BP/RP)    |     866851     |   117251   |  float64  |   Numerical   |
|    NBPcont     |     867344     |   116758   |  float64  |   Numerical   |
|    NBPblend    |     867344     |   116758   |  float64  |   Numerical   |
|    NRPcont     |     869724     |   114378   |  float64  |   Numerical   |
|    NRPblend    |     869724     |   114378   |  float64  |   Numerical   |
|      Mode      |     983470     |    632     |  float64  |   Numerical   |
|     BP-RP      |     866851     |   117251   |  float64  |   Numerical   |
|      BP-G      |     867342     |   116760   |  float64  |   Numerical   |
|      G-RP      |     869025     |   115077   |  float64  |   Numerical   |
|       RV       |     20806      |   963296   |  float64  |   Numerical   |
|      e_RV      |     20806      |   963296   |  float64  |   Numerical   |
|      n_RV      |     20806      |   963296   |  float64  |   Numerical   |
|      o_RV      |     20806      |   963296   |  float64  |   Numerical   |
|     o_RVd      |     20806      |   963296   |  float64  |   Numerical   |
|     RVNper     |     20806      |   963296   |  float64  |   Numerical   |
|     RVS/N      |     20806      |   963296   |  float64  |   Numerical   |
|     RVgof      |      5605      |   978497   |  float64  |   Numerical   |
|     RVchi2     |      5528      |   978574   |  float64  |   Numerical   |
|     RVTdur     |     20806      |   963296   |  float64  |   Numerical   |
|     RVamp      |      5528      |   978574   |  float64  |   Numerical   |
|   RVtempTeff   |     20806      |   963296   |  float64  |   Numerical   |
|   RVtemplogg   |     20806      |   963296   |  float64  |   Numerical   |
|  RVtemp[Fe/H]  |     20806      |   963296   |  float64  |   Numerical   |
|   Vatmparam    |     20806      |   963296   |  float64  |   Numerical   |
|     vbroad     |      2839      |   981263   |  float64  |   Numerical   |
|    e_Vbroad    |      2839      |   981263   |  float64  |   Numerical   |
|    o_Vbroad    |      2839      |   981263   |  float64  |   Numerical   |
|    GRVSmag     |     19897      |   964205   |  float64  |   Numerical   |
|   e_GRVSmag    |     19897      |   964205   |  float64  |   Numerical   |
|   o_GRVSmag    |     19897      |   964205   |  float64  |   Numerical   |
|     RVSS/N     |      1398      |   982704   |  float64  |   Numerical   |
|    VarFlag     |     984102     |     0      |  object   |  Categorical  |
|      PQSO      |     887866     |   96236    |  float64  |   Numerical   |
|      PGal      |     887866     |   96236    |  float64  |   Numerical   |
|      PSS       |     887866     |   96236    |  float64  |   Numerical   |
|      Teff      |     287297     |   696805   |  float64  |   Numerical   |
|      logg      |     287297     |   696805   |  float64  |   Numerical   |
|     [Fe/H]     |     287297     |   696805   |  float64  |   Numerical   |
|      Dist      |     287297     |   696805   |  float64  |   Numerical   |
|       A0       |     287297     |   696805   |  float64  |   Numerical   |
|       AG       |     287297     |   696805   |  float64  |   Numerical   |
|    E(BP-RP)    |     287297     |   696805   |  float64  |   Numerical   |
|      Lib       |     287297     |   696805   |  object   |  Categorical  |
|    RAJ2000     |     984102     |     0      |  float64  |   Numerical   |
|    DEJ2000     |     984102     |     0      |  float64  |   Numerical   |
|   e_RAJ2000    |     984102     |     0      |  float64  |   Numerical   |
|   e_DEJ2000    |     984102     |     0      |  float64  |   Numerical   |
|  RADEcorJ2000  |     984102     |     0      |  float64  |   Numerical   |
|    angDist     |     984102     |     0      |  float64  |   Numerical   |
| CartesianCoord |     984102     |     0      |  object   |  Categorical  |
|       X        |     867897     |   116205   |  float64  |   Numerical   |
|       Y        |     867897     |   116205   |  float64  |   Numerical   |
|       Z        |     867897     |   116205   |  float64  |   Numerical   |
+----------------+----------------+------------+-----------+---------------+

Definición de las columnas:
- col1: índice
- _Glon: coordenada longitud galáctica. Ángulo sobre el disco de la galaxia desde la dirección del centro galáctico hasta la vertical de la estrella.
- _Glat: coordenada latitud galáctica. Ángulo desde el disco galactico hasta la estrella.
- _RAJ2000: coordenada ascensión recta de la época 2000. Ángulo sobre el ecuador desde el punto vernal hasta la vertical de la estrella.
- _DEJ2000: coordenada declinación de la época 2000. Ángulo desde el ecuador hasta la estrella.
- Cluster: Nombre del cúmulo al que pertenece la estrella.
- DR3Name: Nombre de la estrella en el catálogo DR3 de Gaia.
- RAdeg: igual que _RAJ2000
- DEdeg: igual que _DEJ2000
- *errHalfMaj, *errHalfMin, *errPosAng: errores de la medida de la posición.
- *SolID, *Source, *RandomI: otros identificadores.
- e_RAdeg, e_DEdeg: errores en la medida de ascensión recta y declinación.
- Plx: paralaje. Es el dato que necesitamos para obtener la distancia.
- e_Plx: error en la medida del paralaje.
- RPlx: paralaje dividido por su desviación estándar.
- PM: movimiento propio.
- pmRA: velocidad de la estrella en su movimiento propio respecto al centro de la galaxia en la coordenada ascensión recta. Medido en mas/yr.
- e_pmRA: error en la medida de pmRA.
- pmDE: velocidad de la estrella en su movimiento propio respecto al centro de la galaxia en la coordenada declinación. Medido en mas/yr.
- e_pmDE: error en la medida de pmDE.
- RADEcor, RAPlxcor,RApmRAcor,RApmDEcor, DEPlxcor, DEpmRAcor,DEpmDEcor, PlxpmRAcor,PlxpmDEcor, pmRApmDEcor: correlaciones entre magnitudes.
- NAL, NAC: número total de observaciones en diferentes longitudes de onda.
- NgAL, NgAL: número de buenas observaciones en diferentes longitudes de onda.
- *gofAL, *chi2AL: estádisticas de la bondad de las observaciones.
- epsi, sepsi: exceso de ruido en la observación de la fuente y su significancia.
- *Solved: parámetros astrométricos resueltos.
- *APF: astrometría primaria o secundaria.
- *nueff: número de onda efectivo usado en la solución astrométrica.
- pscol: pseudocolor estimado astrométricamente.
- e_pscol: error en la medida de pscol.
- RApscolCorr, DEpscolCorr, PlxpscolCorr,pmRApscolCorr,pmDEpscolCorr: correlaciones entre las variables.
- *MatchObsA: tránsitos encontrados en FOV usando la solución AGIS.
- Nper: número de periodos de visibilidad usados en la solución astrométrica.
- amax: eje semimayor del elipsoide de error.
- *IPDgofha: amplitud del GoF IPD.
- MatchObs: número total de tránsitos.
- *IPDgofhp: fase del GoF IPD.
- *IPDfmp: porcentaje de éxito de la ventana IPD.
- *IPDfow: porcentaje de tránsitos fallidos.
- RUWE: error de peso normalizado.
- *Dup: si es una fuente con múltiples identificadores.
- o_Gmag: número de tránsitos que contibuyen a la medida del flujo en Gmag.
- FG: flujo medio en la banda G.
- e_FG: error de FG.
- RFG: FG dividido por su error.
- Gmag: magnitud en la banda G.
- e_Gmag: error de Gmag.
- o_BPmag: numero de observaciones que contribuye a fotometría BP.
- FBP: flujo medio en la banda BP.
- e_FBP: error de FBP.
- RFBP: FBP dividido por su error.
- BPmag: magnitud en la banda BP.
- e_BPmag: error de BPmag.
- o_RPmag: numero de tránsitos que contribuye a la fotometría RP.
- FRP: flujo medio en la banda RP.
- e_FRP: error de FRP.
- RFRP: FRP dividido por su error.
- RPmag: magnitud en la banda RP.
- e_RPmag: error de RPmag.
- E(BP/RP): factor de exceso de color en BP/RP.
- NBPcont, NRPcont: numero de tránsitos contaminados en cada banda.
- NBPblend, NRPblend: número de tránsitos mezclados en cada banda.
- *Mode: modo de procesamiento de la fotometría.
- BP-RP, BP-G,G-RP: colores en diferentes bandas.
- RV: velocidad radial.
- e_RV: error de la velocidad radial.
- *n_RV: método usado para obtener la velocidad radial.
- o_RV: número de tránsitos usados para obtener la velocidad radial.
- o_RVd: número de tránsitos válidos.
- RVNper: número de periodos de visibilidad usados para obtener la velocidad radial.
- RVS/N: ratio de ruido en la señal espectral para obtener la velocidad radial.
- *RVgof, *RVchi2: estadísticas en el cálculo de RV.
- *RVTdur: tiempo cubierto en la serie temporal de velocidad radial.
- *RVamp: amplitud máxima en la serie temporal de velocidad una vez eliminados los outliers.
- RVtempTeff: temperatura efectiva del modelo usado para calcular la velocidad radial.
- RVtemplogg: logaritmo de la temperatura efectiva.
- RVtemp[Fe/H]: metalicidad del modelo usado para calcular la temperatura efectiva.
- Vatmparam: origen de los parámetros atmoféricos asociados al modelo.
- vbroad: líneas espectrales ampliadas.
- e_Vbroad: error de vbroad.
- o_Vbroad: número de tránsitos usados para calcular vbroad.
- GRVSmag: magnitud Grvs.
- e_GRVSmag: error de GRVSmag.
- o_GRVSmag: número de tránsitos usados para calcular o_GRVSmag.
- RVSS/N: ratio de señal/ruido en el espectro de RVS.
- *VarFlag: marcador de variabilidad fotométrica.
- PQSO: probabilidad de que sea un quásar.
- PGal: probabilidad de que sea una galaxia.
- PSS: probabilidad de que sea una única estrella.
- Teff: temperatura efectiva con la banda BP/RP.
- logg: gravedad en la superficie de la estrella con la banda BP/RP
- [Fe/H]: metalicidad
- Dist: distancia usando la banda BP/RP.
- A0: extinción.
- AG:extinción en la banda G.
- E(BP-RP): enrojecimiento en la banda BP-RP.
- *Lib: nombre de la librería usada en parámetros de astrofotometría.
- RAJ2000: igual que _RAJ2000
- DEJ2000: igual que _DEJ2000
- e_RAJ2000: error de RAJ2000
- e_DEJ2000: error deDEJ2000
- RADEcorj2000: corrección de época J2000
- angDist: distancia angular.
- *CartessianCoord: vector con las coordenadas cartesianas x,y,z
- X: coordenada cartesiana x
- Y: coordenada cartesiana y
- Z: coordenada cartesiana z
  
> Nuestro target es la columna Clusters y el resto son variables predictoras

### 2.1 Eliminación de las columnas repetidas
Hay columnas repetidas, por lo que las eliminaremos.

### 2.2 Eliminación de información irrelevante
Están marcadas con un asterisco la información que estamos seguros que es irrelevante para nuestro objetivo. Hay que eliminar estas columnas.

### 2.3 Tratamiento de valores nulos
Parece haber muchas estrellas sin la variable Plx, por lo que no podemos calcular la distancia para ellas. Habrá que valorar si se eliminan estos objetos o si se sustituye Plx por la moda o media de las estrellas de su cúmulo.

Hay que hacer una exploración más a fondo para ver si tenemos valores nulos en más columnas.

### 2.4 Limpieza general de datos
Las variables PQSO y PGal nos dan las probabilidad que estima el satélite de que ese objeto sea en realidad una galaxia lejana o un quásar en lugar de una estrella. Hay que hacer un histograma de estas variables y decidir a partir de qué probabilidades eliminamos el objeto (por ejemplo, todo lo que sea por encima de 80% de probabilidad de ser algo que no es una estrella??).

### 2.5 Factorización de valiables categóricas y target
Se factorizan las variables categóricas y se guarda la tabla de equivalencia.

### El sample resultado de estos cambios se guarda como '../Samples/PostEDA/STARS_PreCleaned.csv'
### Las tablas de equivalencia de las categóricas se guarda como '../Samples/Auxiliar/NombreVariable_Factorization.csv'